<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyNewt Sensor Reader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>681D5DF31E09D3DB00F33CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>681D5E041E09D3DB00F33CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>681D5E0F1E09D3DB00F33CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
